/* Estilo para o body */
body {
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Define que o body ocupa 100% da altura da tela */
    background-image: url(https://wallpapercave.com/wp/wp8663646.jpg); /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem na horizontal e vertical */
    background-size: cover; /* Faz com que a imagem inteira seja visível na tela */
}
.filtro{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: brightness(.5) blur(3px);
}
h1, label{
    font-size: 2em;
     color: #fff;
}
#outputSaida, #divAviso{
    font-size: 1.5rem;
}
#divAviso{
    color: #fff;
}