
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shadows+Into+Light&display=swap');
.cabecalho{
    text-align: center;
}
.titulo{
    text-align: center;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;

}
.versiculo{
    font-family: "Shadows Into Light";
    text-align: center;
    font-size: 1.3em;

}
.texto{
    font-family: "Nunito", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;

    
}
.importante{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: greenyellow;
}
.desafio{
    font-style: italic;
    text-align: center;
}